@charset "utf-8";

button.btn.disable {
	border: 1px solid #DADADA !important;
	background-color: #FAFAFA !important;
	color: #CCC !important;
	text-shadow: 0 1px 0 rgba(255,255,255, .9) !important;
}